.search_btn {
    background-color: #fae8bc;
    background-image: url("../../assets/search.png");
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-size: 16px 16px;
}

.search_input {
    background-color: white;
    background-image: url("../../assets/baidu.png");
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-size: 16px 16px;
}